<div class="header-bar">
  <div class="header-title">
    Code Kiosk
  </div>
  <ul class="navigation">
    <a href="/"><li>Home</li></a>
    <a href="/add_queue"><li>Add Queue</li></a>
	<a href="/CodeKiosk.zip"><li>Client</li></a>
    <a href="/logout"><li>Log out</li></a>
  </ul>
</div>