<% include ../partials/head %>
  <div class="lost_content">
    <div class="lost_column">
      <div class="column_header">
        404
      </div>
      <div class="column_text">
        Borf is disappointed &gt;:(
      </div>
    </div>
    <div class="lost_column">
      <img src="./disappointed.gif" class="lost_image" />
    </div>
    <div class="lost_column">
      <div class="column_header">
        404
      </div>
      <div class="column_text">
        Borf is disappointed &gt;:(
      </div>
    </div>
  </div>
<% include ../partials/footer %>
